@{
    ViewBag.Title = "ChartJs";
    Layout = "/Areas/Adm/Views/Shared/_Layout_Body.cshtml";
}


@section Scripts
{
    @Scripts.Render("~/JS/Admin/jucheap/ChartJs")
}


<!--body wrapper start-->
<div class="wrapper">

    <div class="row">
        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                    Bar Chart
                    <span class="tools pull-right">
                        <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                        <a class="t-collapse fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close fa fa-times" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="chartJS">
                        <canvas id="bar-chart-js" height="240" width="100%"></canvas>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                    Line chart
                    <span class="tools pull-right">
                        <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                        <a class="t-collapse fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close fa fa-times" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="chartJS">
                        <canvas id="line-chart-js" height="240" width="100%"></canvas>
                    </div>
                </div>
            </section>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                    Pie Chart
                    <span class="tools pull-right">
                        <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                        <a class="t-collapse fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close fa fa-times" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="chartJS">
                        <canvas id="pie-chart-js" height="240" width="100%"></canvas>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-6">
            <section class="panel">
                <header class="panel-heading">
                    Donut Chart
                    <span class="tools pull-right">
                        <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                        <a class="t-collapse fa fa-chevron-down" href="javascript:;"></a>
                        <a class="t-close fa fa-times" href="javascript:;"></a>
                    </span>
                </header>
                <div class="panel-body">
                    <div class="chartJS">
                        <canvas id="donut-chart-js" height="240" width="100%"></canvas>
                    </div>
                </div>
            </section>
        </div>

    </div>

</div>
<!--body wrapper end-->
