<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="alipayConfig" type="JuCheap.Service.Pay.Alipay.AlipayConfiguration,JuCheap.Service"/>
  </configSections>

  <alipayConfig Partner="12121212" Key="1212121212" Email="service@jucheap.com"/>
  
</configuration>