<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="emailConfig" type="JuCheap.Service.Config.EmailConfiguration,JuCheap.Service"/>
  </configSections>
  <!--QQ企业邮箱-->
  <!--<emailConfig SmtpServer="smtp.exmail.qq.com" Port="25" Email="service@jucheap.com" Password="123" SSL="false" />-->

  <!--QQ域名邮箱-->
  <emailConfig SmtpServer="smtp.qq.com" Port="25" Email="service@jucheap.com" Password="123" SSL="false" />
  
</configuration>