<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="readDatabases" type="JuCheap.Core.Config.ReadDatabaseSection,JuCheap.Core"/>
  </configSections>

  <!--数据库读写分离配置(只读数据库配置列表)-->
  <readDatabases>
    <!--<Database Key="readDb1" Datasource="localhost" Port="3306" DatabaseName="Dj_JuCheap" User="root" Password="123" />
    <Database Key="readDb2" Datasource="localhost" Port="3306" DatabaseName="Dj_JuCheap" User="root" Password="123" />-->
  </readDatabases>
  
</configuration>